PORT=3000
MONGODB_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key_here

# Initial Admin Credentials (used during database seeding)
ADMIN_EMAIL=admin@neuralpath.com
ADMIN_PASSWORD=adminpassword

# Supabase Configurations (for resume storage)
SUPABASE_URL=your_supabase_url_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
SUPABASE_BUCKET_NAME=your_supabase_bucket_name_here
